
angular.module('appSuiviProtocoles').constant('RESOURCES',
    {
        API_URL: "http://localhost:8000/",
        TAXHUB_URL: "http://localhost:5000/api/",
        ID_APP: 100,
        BASE_CONFIG_URL: "suivi_chiro/config",
        DEBUG: false
    }
)
