<div class="input-group">
    <span ng-if="decorated" class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
    </span>
    
    <input 
        type="text" 
        ng-model="localselectedobject"
        placeholder="Saisir les trois premières lettres" 
        uib-typeahead="val as val.label for val in find($viewValue)" 
        typeahead-editable="false"
        typeahead-min-length="3"
        ng-required="{{ngrequired}}"
        autocomplete="off"
        class="form-control"
    >
    
    <span ng-if="decorated" class="input-group-btn">
        <ng-transclude></ng-transclude>
    </span>
</div>
