<button type="button" 
    ng-class="{'btn filter-inactive': counts.current == counts.total, 'btn filter-active': counts.current != counts.total}" 
    ng-show="counts.total>0 && (schema.limit || schema.fields.length)"
>
    Données 
    <span ng-class="{'badge filter-active': counts.current != counts.total,'badge filter-inactive': counts.current == counts.total}">{{counts.current}} / {{counts.total}}</span> 
    <span ng-class="{'glyphicon glyphicon-chevron-right': !collapseFilters, 'glyphicon glyphicon-chevron-down': collapseFilters}"></span>
</button>
<div class="filter-form-nav" ng-show="counts.total>0">
    <div class="ff-paginate" ng-if="paginate">
        <label for="limitResults">Données </label>
        <input id="limitResults" type="number" ng-model="schema.limit" ng-model-options="{debounce: 200}" ng-change="send(true)">
    </div>
    <button ng-if="paginate" class="btn btn-sm btn-default float-right" ng-disabled="((pageNum + 1) * schema.limit) >= counts.current" ng-click="nextPage()"><span class="glyphicon glyphicon-chevron-right"></span></button>
    <span ng-if="paginate" class="float-right">Résultats de {{(pageNum*schema.limit)||1}} à {{maxCount||1}} sur {{counts.current}}</span>
    <span ng-if="!paginate" class="float-right">{{counts.current}} données téléchargées</span>
    <button ng-if="paginate" class="btn btn-sm btn-default float-right" ng-disabled="pageNum == 0" ng-click="prevPage()"><span class="glyphicon glyphicon-chevron-left"></span></button> 
</div>

<div class="filter-form-nav" ng-show="counts.total==0">
</div>
