<div class="float-none">
    <div class="map medium" leaflet-map config-url="js/resources/defaults.json"></div>
    
    <div style="clear: both;">
        <!-- Ne d'affiche que si la géométrie est de type point -->
        <table class="table"  ng-if="new_coo">
             <tr>
                <th>Long.</th>
                <th>Lat.</th>
            </tr>
            <tr>   
                <td>
                    <input type="number" class="form-control" placeholder="Longitude" ng-model="new_coo[1]"></input>
                </td>      
                <td>
                    <input type="number" class="form-control" placeholder="Latitude" ng-model="new_coo[0]"></input>
                </td>
                <td>
                    <button class="btn btn-success" ng-click="update_point()">Changer coordonnées</button>
                </td>
            </tr>
        </table>
    <div>
</div>  