<div class="well" ng-repeat="data in refer">
    <ng-form name="subf_{{$index}}">
        <div ng-repeat="field in schema" class="form-group" ng-if="!field.options.dismissed">
            <h4><label for="{{field.name}}" ng-if="field.type!='hidden' && field.type!='group'" tooltip="{{field.help}}" tooltip-placement="right">{{field.label}}</label></h4>
            <p style="color: red;" ng-show="errors[field.name]">{{errors[field.name]}}</p>
            <multi refer="data[field.name]" schema="field" ng-if="field.options.multi"></multi>
            <input id="{{field.name}}" type="hidden" ng-if="field.type=='hidden' && !field.options.multi" ng-model="data[field.name]">
            <input id="{{field.name}}" name="{{field.name}}" class="form-control" type="text" ng-if="field.type=='string' && !field.options.multi" ng-model="data[field.name]" ng-minlength="field.options.minLength" ng-maxlength="field.options.maxLength" ng-required="field.options.minLength>0" ng-disabled="field.options.readOnly">
            <input id="{{field.name}}" name="{{field.name}}" class="form-control" type="number" min="{{field.options.min}}" max="{{field.options.max}}" step="{{field.options.step}}" ng-if="field.type=='num' && !field.options.multi" ng-model="data[field.name]" ng-disabled="field.options.readOnly">
            <div id="{{field.name}}" datepick ng-if="field.type=='date' && !field.options.multi" date="data[field.name]" ngrequired="field.options.required" ngdisabled="field.options.readOnly"></div>
            <input id="{{field.name}}" type="checkbox" ng-if="field.type=='bool' && !field.options.multi" ng-model="data[field.name]" ng-disabled="field.options.readOnly">
            <select id="{{field.name}}" class="form-control" ng-options="item.id as item.libelle for item in field.options.choices"
                ng-model="data[field.name]" ng-if="field.type=='select' && !field.options.multi" ng-disabled="field.options.readOnly"
            ></select>
            <angucompletewrapper inputclass="form-control" id="{{field.name}}" name="{{field.name}}" decorated="true" selectedobject="data[field.name]" url="{{field.options.url}}/" reverseurl="{{field.options.reverseurl}}" titlefield="label" ng-if="field.type=='xhr' && !field.options.multi" initial="data[field.name]" ngrequired="field.options.required" ngdisabled="field.options.readOnly"></angucompletewrapper>
            <taxhubangucomplete inputclass="form-control" id="{{field.name}}" name="{{field.name}}" decorated="true" options="field.options"selectedobject="data[field.name]" url="{{field.options.url}}/" reverseurl="{{field.options.reverseurl}}" titlefield="label" ng-if="field.type=='taxhub' && !field.options.multi" initial="data[field.name]" ngrequired="field.options.required" ngdisabled="field.options.readOnly"></taxhubangucomplete>
            <textarea class="form-control" id="{{field.name}}" ng-if="field.type=='text' && !field.options.multi" ng-model="data[field.name]" ng-disabled="field.options.readOnly"></textarea>
            <calculated ngclass="form-control" id="{{field.name}}" ng-if="field.type=='sum' && !field.options.multi" refs="field.options.ref" data="data" model="data[field.name]" modifiable="field.options.modifiable" min="field.options.min" max="field.options.max"></calculated>
            <div geometry ng-if="field.type=='geom' && !field.options.multi" origin="data['__origin__'][field.name]" geom="data[field.name]" options="field.options"></div>
            <table-fieldset ng-if="field.type=='group'" group="field" data="data" errors="errors"></table-fieldset>
            <multisel ng-if="field.type=='multisel'" schema="field" data="data[field.name]"></multisel>
        </div>
    </ng-form>
    <button type="button" class="btn btn-sm btn-danger" ng-click="remove_item($index)"><span class="glyphicon glyphicon-minus"></span> Supprimer élément</button>
    <button type="button" class="btn btn-sm btn-warning" ng-click="reset_item($index)" ng-show="subf_{{$index}}.$dirty"><span class="glyphicon glyphicon-erase"></span></button>
</div>
<button type="button" class="btn btn-sm btn-success" ng-click="add_item()" ><span class="glyphicon glyphicon-plus"></span> Ajouter un nouvel élément</button>

