<div ng-if="field.type=='string'" style="white-space: pre">{{data}}</div>
<div ng-if="field.type=='num'">{{data}}</div>
<div ng-if="field.type=='date'">{{data|datefr}}</div>
<div ng-if="field.type=='select'">{{field.options.choices|tselect:data}}</div>
<div ng-if="field.type=='multisel'">{{field.options.choices|tmultisel:data}}</div>
<div ng-if="field.type=='bool'">{{data? 'Oui' : 'Non'}}</div>
<div xhrdisplay ng-if="field.type=='xhr'" inputid="data" xhroptions="field.options"></div>
<ul ng-if="field.type=='multi'" class="list-unstyled">
    <li ng-repeat="item in data">{{item}}</li>
</ul>
<ul ng-if="field.type=='file'" class="list-unstyled">
    <li ng-repeat="item in data track by $index">
        <div ng-include="'js/templates/display/filetype-include.htm'">
    </li>
</ul>
<ul ng-if="field.type=='filetype'" class="list-unstyled">
    <li ng-repeat="item in data track by $index">
        <a ng-href="{{field.options.target||'uploads/'}}{{item.fname}}" target="blank">{{item.fname.slice(item.fname.indexOf('_')+1)}}</a>
    </li>
</ul>
<div ng-if="field.type=='subform'" class="well" ng-repeat="item in data track by $index">
    <dl ng-repeat="subf in field.fields track by $index" class="dl-horizontal">
        <dt>{{subf.label}}</dt>
        <dd>
            <div ng-if="subf.type=='string'" style="white-space: pre">{{item[subf.name]}}</div>
            <div ng-if="subf.type=='num'">{{item[subf.name]}}</div>
            <div ng-if="subf.type=='date'">{{item[subf.name]|datefr}}</div>
            <div ng-if="subf.type=='select'">{{subf.options.choices|tselect:item[subf.name]}}</div>
            <div ng-if="subf.type=='multisel'">{{subf.options.choices|tmultisel:item[subf.name]}}</div>
            <div ng-if="subf.type=='bool'">{{item[subf.name]? 'Oui' : 'Non'}}</div>
            <div xhrdisplay ng-if="subf.type=='xhr'" inputid="data" xhroptions="subf.options"></div>
            <ul ng-if="subf.type=='multi'" class="list-unstyled">
                <li ng-repeat="sitem in item[subf.name]">{{sitem}}</li>
            </ul>
            <ul ng-if="subf.type=='file'" class="list-unstyled">
                <li ng-repeat="sitem in item[subf.name]">
                <a ng-href="{{subf.options.target||'uploads/'}}{{sitem.fname}}" target="blank">{{sitem.fname.slice(sitem.fname.indexOf('_')+1)}}</a>
                    <p>{{sitem.commentaire||'Pas de description'}}</p>        
                </li>
            </ul>           
        </dd>
    </dl>
</div>

